<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}">
	<head>
		<title>Detalhes do evento</title>
	</head>
	<body class="d-flex flex-column">
		<!-- Page Content-->
		<section layout:fragment="body">
			<header class="py-5 bg-light border-bottom mb-4">
				<div class="container">
					<div class="text-center my-5">
						<h1 class="fw-bolder" th:text="${event.name}"></h1>
						<p class="lead mb-0">Olha esse evento aí, meu. Show de boletas!!</p>
					</div>
				</div>
			</header>
			<!-- Page content-->
			<div class="container">
				<div class="row justify-content-center">
   					 <div class="col-lg-8">
						<!-- Featured blog post-->
						<div class="card mb-4">
							<a><img class="card-img-top" th:src="${event.photoURL}" alt="Foto do evento" onerror="this.onerror=null;this.src='/assets/placeholder.png';"/></a>
							<div class="card-body">
								<div class="small text-muted" th:text="'Created on: ' + ${event.createdOn}"></div>
								<div class="small text-muted" th:text="'Created by: ' + ${event.createdByUsername}"></div>
								<div th:if="${canEditEvent}" class="small text-muted" th:text="'Last updated by: ' + ${event.lastUpdatedByUsername}"></div>
								<div th:if="${canEditEvent}" class="small text-muted" th:text="'Last updated on: ' + ${event.updatedOn}"></div>
								<h2 class="card-title" th:text="${event.name}"></h2>
								<p class="card-text mb-0" th:text="'Type: ' + ${event.type}"></p>
								<p class="card-text mb-0" th:text="'Start: ' + ${event.startTime}"></p>
								<p class="card-text mb-2" th:text="'End: ' + ${event.endTime}"></p>
								<div sec:authorize="isAuthenticated()" th:if="${canEditEvent}" class="d-flex gap-2">
									<a class="btn btn-primary" th:href="@{/events/{clubId}/new(clubId=${club.id})}">Create event</a>
									<a class="btn btn-primary" th:href="@{/events/{eventId}/edit(eventId=${event.id})}">Editar</a>
									<form method="post" th:action="@{/events/{eventId}/delete(eventId=${event.id})}">
										<button type="submit" class="btn btn-primary">Delete</button>
									</form>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="card mb-4">
									<div class="card-body">
										<img class="card-img-top mb-2" th:src="${club.photoURL}" style="height:300px; width:100%; object-fit: contain; background-color: #f0f0f0;" onerror="this.onerror=null;this.src='/assets/placeholder.png';"/>
										<p th:text="${club.title}" class="card-title h4"></p>
										<a class="btn btn-primary" th:href="@{/clubs/{clubId}(clubId=${club.id})}">Detalhes</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
